# Data Analysis with Pandas

## Intro to data structures

<ul>
<li><h1>Series</h1></li>
</ul>
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index. The basic method to create a Series is to call:

s = pd.Series(data, index=index)

Here, data can be many different things:

<ul>

<li>a Python dict</li>

<li>an ndarray</li>

<li>a scalar value (like 5)</li>
</ul>
The passed index is a list of axis labels.

In [6]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.rand(5)*100, index=['a', 'b', 'c', 'd','e'])
s

a    92.607916
b    71.537726
c    82.716966
d    43.915280
e    21.971482
dtype: float64

In [25]:
pd.Series([12,22,13,43,12])

0    12
1    22
2    13
3    43
4    12
dtype: int64

# From dict

In [4]:
d = {'b': [1,2], 'a': [0,4],'c': [2,5]}
pd.Series(d)

b    [1, 2]
a    [0, 4]
c    [2, 5]
dtype: object

In [10]:
pd.Series(d, index=['b', 'c', 'd', 'a'])

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

### Note

NaN (not a number) is the standard missing data marker used in pandas.

If data is a scalar value, an index must be provided. The value will be repeated to match the length of index.

In [7]:
pd.Series(5., index=['a', 'b', 'c', 'd', 'e'])

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

In [27]:
s

a    0.007411
b    0.236860
c    0.953339
d    0.624080
e    0.731088
dtype: float64

Performing Indexing on Series data

In [29]:
print(s[0])
print()
print(s[:3])
print()
print(s[s > s.median()])
print()
print(s[[4, 3, 1]])
print()
print(np.exp(s))

0.0074108560946788415

a    0.007411
b    0.236860
c    0.953339
dtype: float64

c    0.953339
e    0.731088
dtype: float64

e    0.731088
d    0.624080
b    0.236860
dtype: float64

a    1.007438
b    1.267263
c    2.594358
d    1.866529
e    2.077340
dtype: float64

In [30]:
s['e'] = 12.
s

a     0.007411
b     0.236860
c     0.953339
d     0.624080
e    12.000000
dtype: float64

## DataFrame
DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object. Like Series, DataFrame accepts many different kinds of input:
<ul>
<li>Dict of 1D ndarrays, lists, dicts, or Series</li>

<li>2-D numpy.ndarray</li>

<li>Structured or record ndarray</li>

<li>A Series</li>

<li>Another DataFrame</li>

    df=pd.DataFrame(data, index=None,columns=None)
    
    
Along with the data, you can optionally pass index (row labels) and columns (column labels) arguments. If you pass an index and  or columns, you are guaranteeing the index and / or columns of the resulting DataFrame. Thus, a dict of Series plus a specific index will discard all data not matching up to the passed index.

If axis labels are not passed, they will be constructed from the input data based on common sense rules.

In [11]:
d = {'one': [1., 2., 3., 4.],
    'two': [4., 3., 2., 1.]}
pd.DataFrame(d,index=['a','b','c','d'],columns=['one','two','three'] )

   one  two three
a  1.0  4.0   NaN
b  2.0  3.0   NaN
c  3.0  2.0   NaN
d  4.0  1.0   NaN

In [19]:
#dr={'a':[12],'b':[34],'c':[55]}
dr={'a':12,'b':34,'c':55}
pd.DataFrame(dr,index=[0])

    a   b   c
0  12  34  55

In [21]:
pd.DataFrame([[10,20],[30,40],[50]], index=['a','b','c'],columns=['H1','B1'])

   H1    B1
a  10  20.0
b  30  40.0
c  50   NaN

In [23]:
w=pd.DataFrame(d, index=['a', 'b', 'c', 'd'])
w

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

In [25]:
#Accessing data by column labels
print(w['one'])
#Accessing data by row labels
print(w['a'])#That means we can't access dataframe data using row labels

a    1.0
b    2.0
c    3.0
d    4.0
Name: one, dtype: float64

KeyError: 'a'

In [26]:
data = np.zeros((2, ), dtype=[('A', 'i4'), ('B', 'f4'), ('C', 'a10')])
print(data)
data[:] = [(1, 2., 'Hello'), (2, 3., "World")]
print(data)
pd.DataFrame(data)

[(0, 0., b'') (0, 0., b'')]
[(1, 2., b'Hello') (2, 3., b'World')]

   A    B         C
0  1  2.0  b'Hello'
1  2  3.0  b'World'

In [41]:
pd.DataFrame(data, index=['first', 'second'])

        A    B         C
first   1  2.0  b'Hello'
second  2  3.0  b'World'

In [42]:
data2 = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
pd.DataFrame(data2, index=['first', 'second'], columns=['a', 'b','c'])

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [27]:
df=pd.DataFrame(np.random.randint(30,70, size=[6,6]), columns=['a','b','c','d','e','f'])
df

    a   b   c   d   e   f
0  40  68  37  51  42  64
1  38  59  44  41  45  39
2  41  46  48  67  39  69
3  41  46  62  33  61  44
4  60  44  56  66  59  32
5  63  62  48  65  67  67

In [44]:
df[['a','c','e']]

    a   c   e
0  45  65  65
1  40  57  45
2  49  36  59
3  34  61  53
4  45  59  51
5  67  42  50

In [46]:
df[[1,3,4],['a','c','e']]

TypeError: '([1, 3, 4], ['a', 'c', 'e'])' is an invalid key

In [48]:
df[:5:2]

    a   b   c   d   e   f
0  45  60  65  62  65  57
2  49  33  36  54  59  36
4  45  48  59  35  51  59

# Indexing / selection
The basics of indexing are as follows:

Operation                        Syntax                           Result

Select column                  df[col]                         Series

Select row by label            df.loc[label]                   Series

Select row by integer location  df.iloc[loc]                   Series

Slice rows                       df[5:10]                      DataFrame

Select rows by boolean vector     df[bool_vec]                 DataFrame

# Indexing and selecting data

Different choices for indexing
Object selection has had a number of user-requested additions in order to support more explicit location based indexing. Pandas now supports three types of multi-axis indexing.

.loc is primarily label based, but may also be used with a boolean array. .loc will raise KeyError when the items are not found. Allowed inputs are:

A single label, e.g. 5 or 'a' (Note that 5 is interpreted as a label of the index. This use is not an integer position along the index.).

A list or array of labels ['a', 'b', 'c'].

A slice object with labels 'a':'f' (Note that contrary to usual python slices, both the start and the stop are included, when present in the index! See Slicing with labels and Endpoints are inclusive.)

A boolean array (any NA values will be treated as False).

A callable function with one argument (the calling Series or DataFrame) and that returns valid output for indexing (one of the above).

See more at Selection by Label.

.iloc is primarily integer position based (from 0 to length-1 of the axis), but may also be used with a boolean array. .iloc will raise IndexError if a requested indexer is out-of-bounds, except slice indexers which allow out-of-bounds indexing. (this conforms with Python/NumPy slice semantics). Allowed inputs are:

An integer e.g. 5.

A list or array of integers [4, 3, 0].

A slice object with ints 1:7.

A boolean array (any NA values will be treated as False).

A callable function with one argument (the calling Series or DataFrame) and that returns valid output for indexing (one of the above).

See more at Selection by Position, Advanced Indexing and Advanced Hierarchical.

.loc, .iloc, and also [] indexing can accept a callable as indexer. See more at Selection By Callable.

Getting values from an object with multi-axes selection uses the following notation (using .loc as an example, but the following applies to .iloc as well). Any of the axes accessors may be the null slice :. Axes left out of the specification are assumed to be :, e.g. p.loc['a'] is equivalent to p.loc['a', :, :].

Object Type

Indexers

Series

s.loc[indexer]

DataFrame

df.loc[row_indexer,column_indexer]

In [21]:
df=pd.DataFrame(np.random.randint(30,70, size=[6,6]), index=['r1','r2','r3','r4','r5','r6'],columns=['a','b','c','d','e','f'])
df

     a   b   c   d   e   f
r1  59  65  43  56  66  37
r2  48  33  58  67  45  45
r3  68  63  48  50  36  32
r4  40  38  36  53  38  66
r5  37  44  42  60  64  41
r6  33  42  61  32  41  69

# .loc
Accessing data by row labels

In [26]:
df.loc['r3',:]

a    68
b    63
c    48
d    50
e    36
f    32
Name: r3, dtype: int32

In [52]:
df.loc[['r1','r3','r5'],::2]

     a   c   e
r1  57  60  49
r3  48  52  56
r5  59  41  33

In [30]:
df.loc[['r2','r4','r6'],['a','c','f']]

     a   c   f
r2  65  42  42
r4  58  38  39
r6  60  42  42

# iloc
Accessing data by integer location

In [31]:
df=pd.DataFrame(np.random.randint(30,70, size=[6,6]), columns=['a','b','c','d','e','f'])
df

    a   b   c   d   e   f
0  66  48  66  64  35  56
1  66  49  44  41  54  55
2  39  66  65  64  66  50
3  40  39  66  30  41  30
4  33  52  62  67  47  45
5  47  58  49  50  30  44

In [34]:
df.iloc[5,5]

44

In [35]:
df.iloc[[0,2,4,5],[1,3,4,5]]

    b   d   e   f
0  48  64  35  56
2  66  64  66  50
4  52  67  47  45
5  58  50  30  44

# Importing Data

Use these commands to import data from a variety of different sources and formats.

pd.read_csv(filename) | From a CSV file

pd.read_table(filename) | From a delimited text file (like TSV)

pd.read_excel(filename) | From an Excel file

pd.read_sql(query, connection_object) | Read from a SQL table/database

pd.read_json(json_string) | Read from a JSON formatted string, URL or file.

pd.read_html(url) | Parses an html URL, string or file and extracts tables to a list of dataframes

pd.read_clipboard() | Takes the contents of your clipboard and passes it to read_table()

pd.DataFrame(dict) | From a dict, keys for columns names, values for data as lists

# Exporting Data

Use these commands to export a DataFrame to CSV, .xlsx, SQL, or JSON.

df.to_csv(filename) | Write to a CSV file

df.to_excel(filename) | Write to an Excel file

df.to_sql(table_name, connection_object) | Write to a SQL table

df.to_json(filename) | Write to a file in JSON format


# Create Test Objects

These commands can be useful for creating test segments.

pd.DataFrame(np.random.rand(20,5)) | 5 columns and 20 rows of random floats

pd.Series(my_list) | Create a series from an iterable my_list

df.index = pd.date_range('1900/1/30', periods=df.shape[0]) | Add a date index

# Viewing/Inspecting Data
Use these commands to take a look at specific sections of your pandas DataFrame or Series.

df.head(n) | First n rows of the DataFrame

df.tail(n) | Last n rows of the DataFrame

df.shape | Number of rows and columns

df.info() | Index, Datatype and Memory information

df.describe() | Summary statistics for numerical columns

s.value_counts(dropna=False) | View unique values and counts

df.apply(pd.Series.value_counts) | Unique values and counts for all columns

# Selection

Use these commands to select a specific subset of your data.

df[col] | Returns column with label col as Series

df[[col1, col2]] | Returns columns as a new DataFrame

s.iloc[0] | Selection by position

s.loc['index_one'] | Selection by index

df.iloc[0,:] | First row

df.iloc[0,0] | First element of first column

# Data Cleaning

Use these commands to perform a variety of data cleaning tasks.

df.columns = ['a','b','c'] | Rename columns

pd.isnull() | Checks for null Values, Returns Boolean Arrray

pd.notnull() | Opposite of pd.isnull()

df.dropna() | Drop all rows that contain null values

df.dropna(axis=1) | Drop all columns that contain null values

df.dropna(axis=1,thresh=n) | Drop all rows have have less than n non null values

df.fillna(x) | Replace all null values with x

s.fillna(s.mean()) | Replace all null values with the mean (mean can be replaced with almost any function from the statistics module)

s.astype(float) | Convert the datatype of the series to float

s.replace(1,'one') | Replace all values equal to 1 with 'one'

s.replace([1,3],['one','three']) | Replace all 1 with 'one' and 3 with 'three'

df.rename(columns=lambda x: x + 1) | Mass renaming of columns

df.rename(columns={'old_name': 'new_ name'}) | Selective renaming

df.set_index('column_one') | Change the index

df.rename(index=lambda x: x + 1) | Mass renaming of index

# Filter, Sort, and Groupby

Use these commands to filter, sort, and group your data.

df[df[col] > 0.5] | Rows where the column col is greater than 0.5

df[(df[col] > 0.5) & (df[col] < 0.7)] | Rows where 0.7 > col > 0.5

df.sort_values(col1) | Sort values by col1 in ascending order

df.sort_values(col2,ascending=False) | Sort values by col2 in descending order

df.sort_values([col1,col2],ascending=[True,False]) | Sort values by col1 in ascending order then col2 in descending order

df.groupby(col) | Returns a groupby object for values from one column

df.groupby([col1,col2]) | Returns groupby object for values from multiple columns

df.groupby(col1)[col2] | Returns the mean of the values in col2, grouped by the values in col1 (mean can be replaced with 
almost any function from the statistics module)

df.pivot_table(index=col1,values=[col2,col3],aggfunc=mean) | Create a pivot table that groups by col1 and calculates the mean 
of col2 and col3

df.groupby(col1).agg(np.mean) | Find the average across all columns for every unique col1 group

df.apply(np.mean) | Apply the function np.mean() across each column

nf.apply(np.max,axis=1) | Apply the function np.max() across each row

# Join/Combine

Use these commands to combine multiple dataframes into a single one.

df1.append(df2) | Add the rows in df1 to the end of df2 (columns should be identical)

pd.concat([df1, df2],axis=1) | Add the columns in df1 to the end of df2 (rows should be identical)

df1.join(df2,on=col1,how='inner') | SQL-style join the columns in df1 with the columns on df2 where the rows for col have 
identical values. 'how' can be one of 'left', 'right', 'outer', 'inner'

# Statistics
Use these commands to perform various statistical tests. (These can all be applied to a series as well.)


df.describe() | Summary statistics for numerical columns

df.mean() | Returns the mean of all columns

df.corr() | Returns the correlation between columns in a DataFrame

df.count() | Returns the number of non-null values in each DataFrame column

df.max() | Returns the highest value in each column

df.min() | Returns the lowest value in each column

df.median() | Returns the median of each column

df.std() | Returns the standard deviation of each column

# What kind of data does pandas handle?

In [37]:
import pandas as pd
df = pd.DataFrame({
       "Name": ["Braund, Mr. Owen Harris",
             "Allen, Mr. William Henry",
             "Bonnell, Miss. Elizabeth"],
    "Age": [22, 35, 58],
   "Sex": ["male", "male", "female"]},index=[1,2,3])
df

                       Name  Age     Sex
1   Braund, Mr. Owen Harris   22    male
2  Allen, Mr. William Henry   35    male
3  Bonnell, Miss. Elizabeth   58  female